<footer class="footer">
    <p><a href="/{{ page.lang }}/">&copy; {{site.username}}</a>,
        <em>{{ site.data.translations['viewIn'][page.lang] }}:</em>
        {% for lang in site.data.languages['language'] %}
            {% if lang!=page.lang %}
                <em><a href="{{ page.ref[lang] | prepend: site.baseurl }}">{{ site.data.languages[lang].icon }} {{ site.data.languages[lang].label }}</a></em>
            {% endif %}
        {% endfor %}
    </p>
    </ul>
</footer>

<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% include google-analytics.html %}

