<div id="particles-js">
    <div class="header">
        <h1>
          {% if site.avatar %}
          <img class="avatar" src="{{ site.baseurl }}/assets/images/{{site.avatar}}" alt="profile picture" />
          {% endif %}
          <span class="site-title">{{site.username}}</span>
          <span class="site-description">{{site.data.about.degree_1[page.lang] }}</span>
          <span class="site-description">{{site.data.about.degree_2[page.lang] }}</span>
          <span class="site-description">{{site.data.about.degree_3[page.lang] }}</span>
        </h1>
        <div class="header-icons">
          <a aria-label="My Linkedin" target="_blank" href="{{site.linkedin_username}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
          <a aria-label="My Twitter" target="_blank" href="{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
          <a aria-label="My Github" target="_blank" href="{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
          <a aria-label="My Youtube" href="{{site.youtube_username}}"><i class="icon fa fa-youtube"></i></a>
          <a aria-label="Send email" href="{{site.email}}"><i class="icon fa fa-envelope"></i></a>

        </div>
        {% include navigation_h.html %}
        </br>
        </br>
        </br>
    </div>
    <!--
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
    --> 
  </div>