<div class="profile-container">
    {% if site.avatar %}
    <img class="avatar-min" src="{{ site.baseurl }}/assets/images/{{site.avatar}}" alt="profile picture" /></br>
    {% endif %}
   
    <span class="site-title"><b>{{site.username}}</b></span></br>
    <span class="site-description"><i class="icon fa fa-graduation-cap" aria-hidden="true"></i> {{site.data.about.degree_1[page.lang] }}</span></br>
    <span class="site-description"><i class="icon fa fa-graduation-cap" aria-hidden="true"></i> {{site.data.about.degree_2[page.lang] }}</span></br>
    <span class="site-description"><i class="icon fa fa-graduation-cap" aria-hidden="true"></i> {{site.data.about.degree_3[page.lang] }}</span></br>
</div>
<div class="others-container">
    {% for menu in site.data.navigation[page.lang] %}
        <a class="link" href="{{ menu[1].link }}" ><i class="icon fa {{ menu[1].class }}" aria-hidden="true"></i> {{ menu[1].name }}</a></br>    
    {% endfor %}
</div>
</br>
</br>
</br>
</br>
</br>